.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* margin: 0 auto; */
	/* background: red; */
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
}

.navbar img {
	width: 120px;
}

.navbar ul li {
	display: inline-block;
	list-style: none;
	margin: 0em 1.8em;
	font-size: 16px;
	flex-direction: row;
}

/*  */
@media (max-width: 390px){
	/* li{
		background: red;
		width: 100%;
		
	} */
}
