.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* margin: 0 auto; */
	/* background: red; */
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
}

.navbar img {
	width: 120px;
}

.navbar ul li {
	display: inline-block;
	list-style: none;
	margin: 0em 1.8em;
	font-size: 16px;
	flex-direction: row;
}
.dark-nav {
	background: #212ea0;
	transition: 0.5s;
}

/*  */
@media (max-width: 390px) {
	.navbar {
		position: absolute;
	}

	header ul {
		position: fixed;
		top: 0;
		right: 0px;
		/* left: 0; */
		bottom: 50;
		background: #212ea0;
		z-index: -1;
		/* width: 200px; */
		width: 100%;
		padding-top: -70px;
		transition: 0.5s;
		display: block;
	}
	header ul  {
		display: flex;
		flex-direction: column;
		align-items: start;
		
		font-size:40px;
		margin-top: 90px;
		/* margin: 25px 40px; */
	}
	header ul li{
		line-height: 2.9;

	}
	.header ul li:hover{
		background-color: red;
	}
	.hide {
		right: -100%;
	}
}
@media (max-width: 690px) {
	.navbar {
		position: absolute;
	}

	header ul {
		position: fixed;
		top: 0;
		right: 0px;
		/* left: 0; */
		bottom: 50;
		background: #212ea0;
		z-index: -1;
		/* width: 200px; */
		width: 100%;
		padding-top: -70px;
		transition: 0.5s;
		display: block;
	}
	header ul  {
		display: flex;
		flex-direction: column;
		align-items: start;
		
		font-size:40px;
		margin-top: 90px;
		/* margin: 25px 40px; */
	}
	header ul li{
		line-height: 2.9;

	}
	.header ul li:hover{
		background-color: red;
	}
	.hide {
		right: -100%;
	}
}
